
.container {
	margin-top: 1em;
	margin-right: auto;
	margin-bottom: 1em;
	margin-left: auto;
	width: 90%;
	max-width: 800px;
	padding: 2em;
	background-color: #ffffff;
    opacity: 0.75;
    display: block;

}

/*
body {
	background-image: url("../img/home_page_alt.jpg");
    background-repeat: no-repeat;
    background-position: center top;
    background-size: cover;
	
}
*/

/*
.home {
    background-image:url("../img/home_page.jpg");
    background-size: cover;
    z-index: 10;
}
*/

.intro {
	margin-top: 40px;
    margin-bottom: 40px;
}

/*
img.align-left {
    float: left;
    display: block;
}
*/

img.align-center {
    display:block;
    margin: 0px auto;
}

header, footer {
    display:block;
}

footer {
   position: fixed;
    bottom: 0px;
    width: 100%;
    z-index: 10;
}

nav, footer {
    clear: both;
    background-color: #ffffff;
}

header, nav ul {
    margin: 0px;
}

nav li {
    display:inline;
    margin-right: 40px;
}

.quote {
    margin-left: -2em;
    margin-right: -2em;
    max-width: 800 px;
	padding: 2em;
    background-color: #e9e1ff;
    
}

a:link {
    color: #977dd7;
}

a:visited {
    color: #75707f;
}

a:hover {
    color: #e9e1ff;
}